 {% extends 'base.html' %}
 {% load widget_tweaks %}
 {% block body %}
    <h1>Trocar Senha</h1>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-warning">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    <form action="" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="{{ form.old_password.id_for_lablel }}">Senha Antiga</label>
            {{ form.old_password|add_class:"form-control"|attr:"autofocus"}}
        </div>
        <div class="form-group">
            <label for="{{ form.new_password1.id_for_lablel }}">Senha Nova</label>
            {{ form.new_password1|add_class:"form-control"}}
        </div>
        <div class="form-group">
            <label for="{{ form.new_password2.id_for_lablel }}">Confirmação de Senha</label>
            {{ form.new_password2|add_class:"form-control"}}
        </div>
        
        <button type="submit" class="btn btn-primary">Alterar</button>
    </form>
 {% endblock body %}